.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

div {
    margin: 1rem 0.4rem;
} 
.link {
    text-decoration: none;
    color: #d3d3d3;
    text-align: center;
    border: 1px solid #d3d3d3;
    padding: 10px 15px;
    margin: 0.2rem; 
    border-radius: 10px;
}

.link:hover {
    background-color: rgb(72, 81, 89);
}

