* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  background-color: slategray;
  color:#d3d3d3;
}


h2 {
  margin: 2rem;
}

label {
  margin: 0rem 2rem;
}

input {
  margin: 1rem 2rem;
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  background-color: #d3d3d3;
  border-radius: 5px;
}

button {
  padding: 10px 30px;
  color: #fff;
  background-color: #d3d3d3;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
ol {
  margin: 3rem;
}
ul {
  margin: 3rem;
}
li {
  margin-bottom: 3rem;
}
p {
  margin-top: 0.7rem;
}

