.form {
    max-width: 600px;
    margin: 3rem auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba( 0, 0, 0, 0.1);
  }

.btnStyle {
    display: flex;
    justify-content: flex-start;
    margin: 2rem 2rem 1rem;
}
.btnStyle p {
  margin-left: 2rem;
}

.loginLink {
  display: flex;
  flex-direction: row;
  margin: 2rem;
}

.link {
  margin: 0rem 0.5rem;
  text-decoration: none;
  padding: 10px 20px;
  color: #fff;
  background-color: #d3d3d3;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

@media (min-width: 600px) {
  .link {
    margin: 0rem 2rem;
    padding: 10px 40px;
  }
}